{% extends 'base.html' %}


{% block content %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Get technical help for OSM Shield chemistries or technical help with the website.</p>
  </div>
</div>

<div id="datainput">
<h1>Technical questions about OSM chemistry?</h1>
<br>
<p> Contact Lena McCord to help you with any questions related to technical application of OSM shield chemistries.</p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Lena McCord</h5>
    <h6 class="card-subtitle mb-2 text-muted">Technology and Innovations Manager</h6>
    <p class="card-text">E-mail Lena McCord for technical support on these topics and she will get back to you quickly.</p>
    <a href = "mailto: lmccord@osmshield.com" class="card-link">lmccord@osmshield.com</a>
  </div>
</div>


<br>
<br>

<h1>Questions about OSM website?</h1>
<br>
<p> Contact Nik Herron to help you with any questions related to the OSM Shield website.</p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nik Herron</h5>
    <h6 class="card-subtitle mb-2 text-muted">Website Developer / Lab Manager</h6>
    <p class="card-text">E-mail Nik Herron for questions on the website and he will get back to you quickly.</p>
    <a href = "mailto: nherron@osmshield.com" class="card-link">nherron@osmshield.com</a>
  </div>
</div>

</div>


{% endblock %}