    {% extends 'base.html' %}


    {% block content %}

                {% if user.is_authenticated %}
                        {% for group_for in request.user.groups.all %}
                            {% if group_for.name == 'brand_user' %}
                                <div class="row justify-content-center align-items-center vh-100">
                                    <div class="col-md-8 text-center text-shadow">
                                         <h1 class="display-2 mb-2"><b>OSM SHIELD</b> Brand PORTAL</h1>
                                        <p class="lead mb-3">View Orders, Download Traceability PDFs and More
                                        <br>
                                        <br>
                                        <a href="{% url 'order:pdf-orders' %}" class="btn btn-outline-white btn-rounded">Go To My Orders</a>
                                    </div>
                                </div>

                            {% elif group_for.name == 'mill_user' %}
                                <div class="row justify-content-center align-items-center vh-100">
                                    <div class="col-md-8 text-center text-shadow">
                                        <h1 class="display-2 mb-2"><b>OSM SHIELD</b> PORTAL</h1>
                                        <p class="lead mb-3">Generate treatment procedures, view pricing, order chemicals, and more.
                                        <p> Select what you'd like to do. </p>
                                        <a href="{% url 'mill_procedure:mill_procedure_create' %}" class="btn btn-outline-white btn-rounded">Generate a New Procedure</a>
                                        <a data-scroll href="{% url 'recipe_calculator:create' %}" class="btn btn-rounded btn-outline-white ml-md-1">Get a recommended recipe</a>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                {% else %}
                    <div class="row justify-content-center align-items-center vh-100">
                        <div class="col-md-8 text-center text-shadow">
                            <h1 class="display-2 mb-2"><b>OSM SHIELD</b> PORTAL</h1>
                            <p class="lead mb-3">Please <a href="{% url 'login' %}"> login </a> to continue
                        </div>
                    </div>


                {% endif %}
        {% endblock %}

